@{
    Layout = null;
}
    ﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <link rel="stylesheet" type="text/css" href="/css1/StyleSheet.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <style>

        .topnav {
            overflow: hidden;
            background-color: #941414;
            margin-top: -25px;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-family: 'Times New Roman', Times, serif;
                font-size: 17px;
                margin-bottom: 0 !important;
                border: 0 !important;
            }

                .topnav a:hover {
                    background-color: white;
                    color: black;
                }

                .topnav a.active {
                    background-color: #159494;
                    color: white;
                }



        .container {
            border-radius: 10px;
        }
    </style>

</head>


<body>

    <div class="topnav">

        <a href="/Home/Index">Home</a>
        <a href="/Home/main"> About Covid-19</a>
        <a href="/Home/Chart">Visualizations </a>
        <a href="/Home/Data">Data & Statistics</a>
        <a href="/Home/helpfulresources">Helpful Resources</a>
        <a class="active" href="/Home/AboutUs">About Us</a>

    </div>



    <div style="margin : 15px">

        <div class="container">
            <h1 style='font-size:300%;color:#159494; '> <b> About Us  </b> </h1>
            <p1>
                This website is mainly intended to educate people about the Covid-19 pandemic through providing overall information about
                the virus and its variants. Moreover, this website provides some up to date statistics and data about the daily cases and
                deaths caused by the virus. In addition, the website provides information on ways to stay safe and protected
                from the virus. Finally, the website offers some extra resources for individuals interested to learn more about
                Covid-19, the vaccines avaliable and more.
            </p1>
        </div>

        <hr>

        <h2>  <b>The Team</b></h2>

        <div class="container" style="background-color:#941414 ; border: 5px solid black;">
            <br>

            <div class="row">

                <div class="col-md-4">


                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFooWxuELZupg/profile-displayphoto-shrink_400_400/0/1609621282143?e=1639612800&v=beta&t=GwBm_rXSS7CI0N6o4exsVHzET1m_ERiTNFCGpHWM1b4" />
                    <div style="text-align:center;color:white;">
                        <h2><a style="color:#ffd700;" href="https://www.linkedin.com/in/sara-atta/" ;>Sara Atta</a></h2>

                        A graduate student in the Business Analytics and Information systems program with a focus in Data
                        Science at USF. Sara graduated from USF with her Bachelors in Finance in 2019 and has over two years of expierence
                        in the Financial industry. Sara contributed to designing the webpages as well as creating several pages of the website.
                        Moreover, she chose the website topic and created the interactivity component of the website through the use of some javascript.
                        Finally, Sara helped in building the data model (ERD)from data.gov.
                        <br>
                        <a style="color: #ffd700;" href="https://github.com/satta24" ;> Github</a>
                    </div>


                </div>


                <div class="col-md-4">
                    <figure>
                        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGGVixcf3KKFQ/profile-displayphoto-shrink_800_800/0/1634143316376?e=1639612800&v=beta&t=4Q08_jH4xOdNsXxW7tjJL-McFB5P4LlWsbLunRWTi0E" />
                        <figcaption style="text-align:center;color:white;">
                            <h2><a style="color: #ffd700;" href="https://www.linkedin.com/in/kshitijadound/" ;>Kshitija Dound</a></h2>
                            Currently pursuing her masters degree at University of South Florida in Business
                            Analytics and Information Systems with a focus in Data Science as a full time student. Also, working as a
                            Graduate Teaching Assistant at USF. Experienced Software Engineer with a demonstrated history of working in
                            the information technology and services industry. Kshitija contributed to building the data model for our website
                            and creating the neccesary connections between the tables and pull the data from the api and display it in the appropriate views. She also helped in developing some of the pages
                            of the website, charts, and chose the data api which we will use from data.gov for the education purposes.
                            <br>
                            <a href="https://github.com/kshitija-dound" ; style="color: #ffd700;"> Github</a>
                        </figcaption>
                    </figure>

                </div>
                <div class="col-md-4">

                    <figure>
                        <img class="img-fluid" src="https://media-exp1.licdn.com/dms/image/C4D03AQGtujzc1plrZw/profile-displayphoto-shrink_400_400/0/1565893132242?e=1639612800&v=beta&t=_fzMSkzOqlMSs1alZv84-oHj1RB2gIz2nMsTx6RYI1g" />
                        <figcaption style="text-align:center;color:white;">
                            <h2><a style="color: #ffd700;" href="https://www.linkedin.com/in/elizabeth-gutierrez-a04414191/" ;>Elizabeth Gutierrez</a></h2>
                            Currently, Elizabeth is in pursuit of a Masters degree in the professional studies of Business Analyst / Information Systems with a concentration of
                            Analytical and Business Intelligence. She has successfully grown her skills in full cycle with data analytics, process improvements, and discovering ways
                            on how she can contribute to business profits. She contributed to developing some of the pages as well as helped with finding the data sources.
                            Finally, Elizabeth was responsible for the final touches for the web look. She fixed the overall formatting of the pages as well as made sure all the content
                            looks presentable. Thus, she contributed to making the final edits to the web pages and making sure everything looks good and is running smoothly.
                            <br>
                            <a href="https://github.com/elizabeth16494" ; style="color: #ffd700;"> Github</a>
                        </figcaption>
                    </figure>
                </div>
            </div>




        </div>
        <hr>


        <div class="row" style="width: 70%;
    position: relative;
    left: 17%;">
            <h2><b>The Data Model</b></h2>

            <img src="/img/erd.png" alt="erd" class="center" style="
    height: 70%;
    max-height: 700px;
    max-width: 700px;
" />

            <h2 style="color:black ;">API Endpoints</h2>
            <a href="https://data.cdc.gov/NCHS/Conditions-contributing-to-deaths-involving-corona/hk9y-quqm" class="center"
               style=" color:orangered;" target="_blank">Click here for the API data</a>
        </div>

        <hr>



        <div class="row" style="width: 70%;
    position: relative;
    left: 17%;">
            <h2><b>Github Logs</b></h2>

            <img src="/img/gitlogs.png" alt="gitlog" class="center" />
            <hr>
            <h2 style="color:black ;">Github link</h2>
            <a href="https://github.com/kshitija-dound/MVC_EF_Start" class="center"
               style=" color:orangered;" target="_blank">Click here for the Git link of the Project</a>


        </div>
        </div>


</body>
</html>
