@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Helpful Resources</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">


    <style>


        html, body {
            padding: 0;
            margin: 0px;
        }



        .topnav {
            overflow: hidden;
            background-color: #941414;
            margin-top: 0px;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                margin-bottom: 0 !important;
                border: 0 !important;
            }

                .topnav a:hover {
                    background-color: white;
                    color: black;
                }

                .topnav a.active {
                    background-color: #159494;
                    color: white;
                }


        .container {
            display: flex;
            flex-wrap: wrap;
            
        }

            .container .image {
                width: 50%;
            }

            .container img {
                width: calc(100% - (20px * 2));
                margin: 20px;
            }


        .btn {
            padding: 14px 28px;
            font-size: 11px;
            cursor: pointer;
            margin-left: 310px;
        }

        h4 {
            font: 12px Arial, Geneva, Helvetica, sans-serif;
            margin-bottom: -6px;
        }

        img {
            display: block;
            margin: 0;
            padding: 0;
            border: 0;
        }

        p {
            font-family: "Times New Roman", Times, serif;
        }
    </style>
</head>


<body>

    <div class="topnav">

        <a href="/Home/Index">Home</a>
        <a href="/Home/main"> About Covid-19</a>
        <a href="/Home/Chart">Visualizations </a>
        <a href="/Home/Data">Data & Statistics</a>
        <a class="active" href="/Home/helpfulresources">Helpful Resources</a>
        <a href="/Home/AboutUs">About Us</a>


    </div>
    <div style="margin : 15px">

        <h1 style="color:#159494;text-align:center;font-size:300%;"> <b>Helpful Resources</b> </h1>

        <h3 style='text-align:center'>
            Below are some helpful resources to help you learn more about Covid-19, Vaccines avaliable,
            Booster shots and <br> how to protect yourself and others.
        </h3>


        <div class="container">
            <br>
            <div class="row">

                <div class="col-md-6">
                    <img height=354 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqNGqgHuWX_kBoAJiftauOhrGwZHhFnvFXEQ&usqp=CAU" />
                    <h4 style='text-align:center;font-size:150%;'> <b> Covid-19</b> </h4>
                    <p style='text-align:center'> Learn more about the virus and the different variants:</p>
                    <button class="btn success" onclick="location.href = 'https://www.cdc.gov/coronavirus/2019-ncov/variants/variant.html';"><a style="color:black;text-align: center;align-items: center;">Learn More</a></button>
                </div>

                <div class="col-md-6">
                    <img height=354 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQjVdlPly1eCEboShj-wrFl09ywP5yjeSF-Q&usqp=CAU" />
                    <h4 style='text-align:center;font-size:150%;'> <b> Covid-19 Vaccines</b> </h4>
                    <p style='text-align:center'> Learn more about the different vaccines avaliable:</p>
                    <button class="btn success" onclick="location.href = 'https://www.cdc.gov/coronavirus/2019-ncov/vaccines/different-vaccines.html';"><a style="color:black;text-align: center;align-items: center;">Learn More</a></button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img height=354 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVHpdCVjJL1OfTI0LDoExfstqiGkNQZLjE4w&usqp=CAU" />
                    <h4 style='text-align:center;font-size:150%;'> <b> Covid-19 Boosters</b> </h4>
                    <p style='text-align:center'> Learn more about booster shots avaliable and if you are eligible:</p>
                    <button class="btn success" onclick="location.href='https://www.cdc.gov/coronavirus/2019-ncov/vaccines/booster-shot.html';"><a style="color:black;text-align: center;align-items: center;">Learn More</a></button>
                </div>

                <div class="col-md-6">
                    <img height=354 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU6yDEMqvU_m_TDuAIggG_Ujf-KTxTFw2hKA&usqp=CAU" />
                    <h4 style='text-align:center;font-size:150%;'> <b> Staying Safe</b> </h4>
                    <p style='text-align:center' ;> Learn more about protecting yourself and others from Covid-19:</p>
                    <button class="btn success" onclick="location.href='https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html';"> <a style="color:black;text-align: center;align-items: center;">Learn More</a></button>
                </div>
            </div>
        </div>
    </div>
    



</body>
</html>