@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main</title>

    <style>

        html, body {
            padding: 0;
            margin: 0;
        }

        H1 {
            background-image: url('http://www.hfgmed.com/wp-content/uploads/2020/03/sars-cov-19.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-size: 50% 50%;
            margin: 0px;
            -webkit-margin-before: 0px;
            -webkit-margin-after: 0px;
        }

        h3 {
            font: 30px Arial, Geneva, Helvetica, sans-serif;
            align:: justify;
            Margin-left: 0;
        }

        h3, p {
            Margin-top: 2;
            Margin-bottom: 3;
            Padding: 1;
        }

        p, li {
            font: 16px Arial, Geneva, Helvetica, sans-serif;
        }


        .topnav {
            overflow: hidden;
            background-color: #941414;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                margin-bottom: 0 !important;
                border: 0 !important;
            }

                .topnav a:hover {
                    background-color: white;
                    color: black;
                }

                .topnav a.active {
                    background-color: #159494;
                    color: white;
                }
    </style>
</head>


<body>

    <div class="topnav">

        <a href="/Home/Index">Home</a>
        <a class="active" href="/Home/main"> About Covid-19</a>
        <a href="/Home/Chart">Visualizations</a>
        <a href="/Home/Data">Data & Statistics</a>
        <a href="/Home/helpfulresources">Helpful Resources</a>
        <a href="/Home/AboutUs">About Us</a>


    </div>

    <h1 style="color:white;font-size:1000%;text-align:center;">COVID-19 PANDEMIC</h1>



    <div style="margin : 15px">
    <h3 style="color:#159494"> <b> What is Covid-19?</b> </h3>

    <p>

        <ul>
            <li>COVID-19 is a dangerous disease caused by a virus discovered in December 2019 in Wuhan, China. It is very contagious and has quickly spread around the world.</li>
            <li>Most people who catch COVID-19 have mild symptoms, but some people become severely ill.</li>
            <li>Older adults and people who have certain underlying medical conditions are at increased risk of severe illness from COVID-19.</li>
            <li>Hundreds of thousands of people have died from COVID-19 in the United States.</li>
            <li>Vaccines against COVID-19 are safe and effective. </li>
        </ul>

    </p>

    <h3 style="color:#159494"> <b> About the Name</b></h3>

    <p>

        On February 11, 2020, the World Health Organization announced an official name for the disease is coronavirus disease 2019, abbreviated COVID-19.The virus that causes COVID-19, SARS-CoV-2, is a coronavirus. The word corona means crown and refers to the appearance that coronaviruses get from
        the spike proteins sticking out of them.

    </p>

    <h3 style="color:#159494"> <b> Other Coronaviruses</b> </h3>

    <p>

        Coronaviruses are a large family of viruses that can infect people and many animals, including camels, cattle, cats, and bats. There are many types of coronaviruses, including some that give people a common head or chest cold. Other coronavirus diseases like severe acute respiratory syndrome (SARS) and Middle East respiratory syndrome (MERS) are extremely dangerous but are much
        less widespread than colds and COVID-19.

    </p>

    <h3 style="color:#159494"> <b> What are Some Symptoms of Covid-19? </b></h3>

    <p>

        People with COVID-19 have had a wide range of symptoms reported, ranging from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. Anyone can have mild to severe symptoms. People with these symptoms may have COVID-19:

        <ul>
            <li>Fever or chills</li>
            <li>Cough</li>
            <li>Shortness of breath or difficulty breathing</li>
            <li>Fatigue</li>
            <li>Muscle or body aches</li>
            <li>Fever or chills</li>
            <li>Headache</li>
            <li>New loss of taste or smell</li>
            <li>Sore throat</li>
            <li>Congestion or runny nose</li>
            <li>Nausea or vomiting</li>
            <li>Diarrhea</li>
        </ul>

        <br>

        This list does not include all possible symptoms. CDC will continue to update this list as we learn more about COVID-19. Older adults and people who have severe underlying medical conditions like heart or lung disease or diabetes seem to be at higher risk for developing more serious complications from COVID-19 illness.

    </p>

    <h3 style="color:#159494"> <b> Difference between Covid-19 & Flu </b></h3>

    <p>

        Influenza (Flu) and COVID-19 are both contagious respiratory illnesses, but they are caused by different viruses. COVID-19 is caused by infection with a new coronavirus (called SARS-CoV-2), and flu is caused by infection with influenza viruses.

        COVID-19 seems to spread more easily than flu and causes more serious illnesses in some people. It can also take longer before people show symptoms and people can be contagious for longer. More information about differences between flu and COVID-19 is available in the different sections below.

        Because some of the symptoms of flu and COVID-19 are similar, it may be hard to tell the difference between them based on symptoms alone, and testing may be needed to help confirm a diagnosis.

        While more is learned every day about COVID-19 and the virus that causes it, there is still a lot that is unknown . This page compares COVID-19 and flu, given the best available information to date.

    </p>
    </div>



</body>
</html>
