@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>LINQOperations</title>
</head>
<body>
  <h2>LINQ operations successful</h2>
</body>
</html>
